MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_INITDB_DATABASE=mysendit
ssh_host=
ssh_port=
http_port
http_host=
db_source=
db_username=
db_password=
db_database=
db_authsource=
db_authmechanism=
GITHUB_CLIENTID=
GITHUB_SECRET=
