{% block header %}
<title>Download - Sendit</title>
{% endblock %} {% block content %}
<div class="w-full h-full bg-gray-100 ">
    <div>
      <h3>This link is come from: Hnimtadd</h3>
      <div>User verified</div>
    </div>
    <div>
      <div>
        <div>User's download link</div>
        <button>
          <a href="http://localhost:3000/api/v:/transfer/sample" download>
            Download
          </a>
        </button>
      </div>
    </div>
    <div>Direct download link</div>
    <div class="flex flex-row justify-center gap-2 w-full items-center">
      <a href="http://localhost:3000/api/v1/transfer/sample" download>
        <span
          class="overflow-hidden relative text-black transition duration-300 hover:text-indigo-600 ease"
        >
          http://localhost:3000/api/v1/transfer/sample
        </span>
      </a>
      <div>Or</div>
      <a href="http://localhost:3000/api/v1/transfer/sample" download>
        <div
          class="h-[50px] w-[160px] rounded-md px-3.5 py-2 m-1 relative group cursor-pointer border-2 font-medium border-indigo-600 text-indigo-600 text-white overflow-hidden text-center items-center justify-items-center"
        >
          <span
            class="overflow-hidden absolute w-64 h-0 transition-all duration-300 origin-center rotate-45 -translate-x-20 bg-indigo-600 top-1/2 group-hover:h-64 group-hover:-translate-y-32 ease"
          ></span>
          <span
            class="overflow-hidden relative text-indigo-600 transition duration-300 group-hover:text-white ease"
          >
            Download
          </span>
        </div>
      </a>
    </div>
  </div></div>
{% endblock %}

