{% extends "layouts/base.html" %}
{% block headContent %}
<title>Homepage - Sendit</title>
{% endblock %}
{% block content %}
<div class="h-full w-full bg-gray-100 ">
    <div
        class="w-full f-full flex flex-col justify-start items-center gap-[30px] bg-gray-50 dark:bg-gray-900  ">
        {% if not user %}
            {% include "components/hero.html" %}
        {% else %}
        <div class="w-full ">
            {% include "components/feature.html" %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
